<div class="menu">
    <!--<i class="fa fa-arrow-left" style="left: 9px;
      top: 26px; position:absolute;" routerLink="/sidenav"></i>-->
    <img src="assets/larrow.png" style="left: 9px;
    top: 26px; position:absolute;" routerLink="/sidenav">
    <h3 style="font-family: poppins;left: 57px;
      top: 8px; position: absolute;">Main Menu</h3>

</div>
<hr style="position: absolute;
    width: 420px;
    height: 0px;
    left: 0px;
    top: 50px;
    
    border: 1px solid #AEAEAE;">
<h1 style="padding-left: 15px; font-size: 18px; font-weight: 600; left: 34px;
    top: 90px; position: absolute; font-family: poppins;">Help</h1>
<ul style="list-style:none ;">
    <li style="height: 32px ;"><a href="#"><span class="icon"><img src="assets/help.png" style="height: 26px; width:26px; left: 58px;
        top: 134px;
              position: absolute;"> </span>
            <span class=" item" style="font-size:15px ;left: 91px;
          top: 135px; position: absolute; font-family: poppins; ;
          ">Help Center</span><i class="fa fa-arrow-right" aria-hidden="true" style="left: 380px;
  top: 137px; position: absolute;"></i></a></li>
    <li style="height: 32px;"><a href="#"><span class="icon"><img src="assets/contact.png" style="width: 25px; height:25px;left: 58px;
              top: 167px; position: absolute;"></span><span class="item" style="font-size:15px ;left: 91px;
              top: 170px; position: absolute; font-family: poppins;">Contact
                Support</span><i class="fa fa-arrow-right" aria-hidden="true" style="left: 380px;
            top: 170px; position: absolute;"></i></a></li>

</ul>
<router-outlet></router-outlet>