<div class="menu">
    <!--<i class="fa fa-arrow-left" style="left: 9px;
    top: 26px; position:absolute;" routerLink="/sidenav"></i>-->
    <img src="assets/larrow.png" style="left: 9px;
    top: 26px; position:absolute;" routerLink="/sidenav">
    <h3 style="font-family: poppins;left: 57px;
    top: 12px; position: absolute; font-weight: 600;">Main Menu</h3>

</div>
<hr style="position: absolute;
  width: 438px;
  height: 0px;
  left: 0px;
  top: 40px;
  
  border: 1px solid #AEAEAE;">
<div class="profile">
    <h1 style=" font-size: 18px; font-weight: 800;left: 34px;
    top: 65px; position: absolute; font-family: poppins;"> Account Settings</h1>
</div>
<div class=profile-img>
    <img src="assets/dp.png" style=" width: 50px;
    height: 50px;
    position: absolute;
    left: 21px;
top: 102px;

   ">
    <div class="profile-id">
        <p style="font-size: 18px ; font-weight: 500; left: 76px;
      top: 115px; position: absolute; font-family: poppins;">Surya</p>
        <p style="left: 76px;
      top: 131px; position: absolute; font-family: poppins;">surya@gmail.com</p>
    </div>
</div>
<div class="wrapper">
    <h1 style="left: 28px;
    top: 170px;
    position:absolute; font-family: poppins; font-size: 14px;">Language</h1>
    <div class="select-btn">

        <span style="font-family: poppins;">English</span>
        <img src="assets/drop.png">
    </div>
</div>
<div class="subscription">
    <p style="font-size: 16px ; font-weight: 400;left: 28px;
    top: 251px; position: absolute; font-family: poppins;">Current Subscriptions </p>
    <p style="font-size:12px ;left: 29px;
    top: 270px;
    position: absolute; font-family: poppins;">Uneekli pro Crome Extension</p>
</div>


<hr style="position: absolute;
  width: 438px;
  height: 0px;
  left: 0px;
  top: 275px;
  
  border: 1px solid #AEAEAE;">
<div class="edit">

    <h3 style=" font-size:18px;left: 28px;
    top: 300px; position: absolute; font-family: poppins;">Edit</h3>
    <div class="arrow">
        <i class="fa fa-arrow-right" aria-hidden="true" style="left: 385px;
      top: 310px; position:absolute;"></i>
    </div>
</div>
<div class="edit">
    <div class="editing" style="display: flex;">
        <img src="assets/server.png" style="left: 20px;
      top: 340px; position:absolute; width: 25px; height: 25px;">
        <p style="font-size: 16px ; left: 62px;
      top: 345px; position: absolute; font-family: poppins;"> Suggested Server In China</p>
    </div>
    <div class="para" style="left: 29px;
    top: 375px; position: absolute; font-size:14px;font-family: poppins;">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur explicabo aut iste obcaecati autem in
            ducimus repellat ab nulla reprehenderit, ratione nobis magni laboriosam fuga rem numquam architecto est
            iusto.
        </p>
    </div>
    <br>
    <div class="editing" style="display: flex;">
        <img src="assets/connection.png" style="width: 25px; height:25px;left: 18px;
      top: 487px;
      position:absolute">
        <p style="font-size: 16px ; left: 60px;
      top: 490px; position: absolute; font-family: poppins;"> Slow Connection Mode</p>
    </div>

    <div class="para" style=" left: 29px;
    top: 520px;font-size:14px; position:absolute; font-family: poppins;">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur explicabo aut iste obcaecati autem in
            ducimus repellat ab nulla reprehenderit, ratione nobis magni laboriosam fuga rem numquam architecto est
            iusto.
        </p>
    </div>

</div>